form {
    margin: 50px
}

.title {
    float: center;
    clear: left;
    text-align: left;
}

label {
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    margin-right: 5px;
}

.RoutineName {
    display: block;
    float: left;
    margin-bottom: 3px;
    width: 250px;

}

.RoutineGoal {
    height: 100px;
    width: 250px;
}


button {
    display: inline-block;
    margin-left: 5px;
    clear: left;
}